node_modules/
dist/
out-tsc/
coverage/
*.log
*.tsbuildinfo
.vscode/
.idea/
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend-new/node_modules/
/notebook/node_modules/
/frontend-new/dist/
/notebook/dist/
